<div class="order-now-backdrop js-backdrop">
				<div class="order-now-modal">
					<h2 class="order-now-modal__title">Order Now</h2>
					<button class="order-now-modal__close-btn" type="button">
						<svg
							class="order-now-modal-close__img"
							width="20"
							height="20"
							viewBox="0 0 20 20"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M15 5L5 15"
								stroke="#050505"
								stroke-width="1.8"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
							<path
								d="M5 5L15 15"
								stroke="#050505"
								stroke-width="1.8"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</svg>
					</button>

					<div class="order-now-form-wrap">
     <form class="order-now-modal-form">
     <label>
       <span>Name</span>
       <input class="order-now-modal-form__input" 
								type="text" 
								name="user_name" 
								placeholder="enter your name"
								type="text"
								minlength="2"
								maxlength="100"
								pattern="^[A-Za-z-Яа-яІіЇїЄєґҐ]+$"
								autofocus
								required/>
     </label>
     <label>
       <span>Phone number</span>
       <input class="order-now-modal-form__input"
          type="tel"
          name="phone"
										minlength="11"
										maxlength="17"
          placeholder="+38"
          pattern="[+0-9]{3}-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
										title="+xx-xxx-xxx-xx-xx"
          required/>
     </label>
     <label>
       <span>Email</span>
       <input class="order-now-modal-form__input" type="email" name="email" placeholder="enter your email" required/>
     </label>
     <label>
       <span>Comment</span>
       <textarea name="comment"></textarea>
     </label>
     <button class="order-now-modal-form__button-submit" type="submit">Send</button>
   </form>

					</div>
				</div>
			</div>
		</div>