<section class="extra-filters-section">
  <form class="extra-filters-form">
    <div class="form-el-wrap form-el-search">
      <label class="extra-filters-form-label light-extra-filters-label"
        >Search
        <input
          type="text"
          name="username"
          placeholder="Enter Text"
          class="extra-filters-form-input light-extra-filters-form-input"
        />
        <svg class="extra-filters-search-icon" width="18" height="18">
          <use href="./images/sprite/icons.svg#icon-search"></use>
        </svg>
      </label>
      <svg class="extra-filters-search-icon-close-lignt" width="18" height="18">
        <use href="./images/sprite/icons.svg#icon-x"></use>
      </svg>
      <button
        type="button"
        class="extra-filters-search-reset-btn"
        data-search-reset
      ></button>
    </div>

    <div class="form-el-wrap form-el-time">
      <label class="extra-filters-form-label light-extra-filters-label"
        >Time
      </label>
      <select
        id="time"
        name="time"
        class="extra-filters-form-select light-extra-filters-form-select selected-option"
      >
        <option value="">Time</option>
        <option value="5" class="time">5 min</option>
        <option value="10" class="time">10 min</option>
        <option value="15" class="time">15 min</option>
        <option value="20" class="time">20 min</option>
        <option value="25" class="time">25 min</option>
        <option value="30" class="time">30 min</option>
        <option value="35" class="time">35 min</option>
        <option value="40" class="time">40 min</option>
        <option value="45" class="time">45 min</option>
        <option value="50" class="time">50 min</option>
        <option value="55" class="time">55 min</option>
        <option value="60" class="time">60 min</option>
        <option value="65" class="time">65 min</option>
        <option value="70" class="time">70 min</option>
        <option value="75" class="time">75 min</option>
        <option value="80" class="time">80 min</option>
        <option value="85" class="time">85 min</option>
        <option value="90" class="time">90 min</option>
        <option value="95" class="time">95 min</option>
        <option value="100" class="time">100 min</option>
        <option value="105" class="time">105 min</option>
        <option value="110" class="time">110 min</option>
        <option value="115" class="time">115 min</option>
        <option value="120" class="time">120 min</option>
      </select>
    </div>

    <div class="form-el-wrap form-el-area">
      <label class="extra-filters-form-label light-extra-filters-label"
        >Area
      </label>
      <select
        id="area"
        name="area"
        class="extra-filters-form-select light-extra-filters-form-select selected-option"
      >
        <option value="" class="area">Region</option>
      </select>
    </div>

    <div class="form-el-wrap form-el-ingredients">
      <label class="extra-filters-form-label light-extra-filters-label"
        >Ingredients
      </label>
      <select
        id="ingredients"
        name="ingredients"
        class="extra-filters-form-select light-extra-filters-form-select selected-option"
      >
        <option value="" class="ingredients">Ingredients</option>
      </select>
    </div>
    <button
      type="submit"
      class="extra-filters-reset-btn"
      data-extra-filters-reset-btn
    >
      <svg class="" width="16" height="16" style="stroke: #9bb537">
        <use href="./images/sprite/icons.svg#icon-x"></use>
      </svg>
      <span class="extra-filters-reset-text"> Reset the filter</span>
    </button>
  </form>
</section>
