<section class="hero">
  <div class="container">
    <img
      class="hero-favorites"
      srcset="
        ./images/card-favorites-hero-1080-1x_720.jpg,
        ./images/card-favorites-hero-1080-2x_720.jpg
      "
      src="./images/card-favorites-hero-1080-1x_720.jpg"
      alt=""
      width="100"
    />
  </div>
</section>
<div class="container">
  <div class="scrollmenu">
    <a class="categories js-favorites all-categories-a" href="#All categories"
      >All categories</a
    >
    <a class="categories" href="#Beef">Beef</a>
    <a class="categories" href="#Breakfast">Breakfast</a>
    <a class="categories" href="#Chicken">Chicken</a>
    <a class="categories" href="#Dessert">Dessert</a>
    <a class="categories" href="#Goat">Goat</a>
    <a class="categories" href="#Miscellaneous">Miscellaneous</a>
    <a class="categories" href="#Pasta">Pasta</a>
    <a class="categories" href="#Pork">Pork</a>
    <a class="categories" href="#Seafood">Seafood</a>
    <a class="categories" href="#Side">Side</a>
  </div>
</div>
<div class="container">
  <div class="no-recipe-icon">
    <svg class="favorites-icon favorites-icon-elements" width="97" height="83">
      <use
        href="./images/sprite/icons.svg#icon-elements"
        class="favorites-icon-elements"
      ></use>
    </svg>
    <p class="no-recipes">
      It appears that you haven't added any recipes to your favorites yet. To
      get started, you can add recipes that you like to your favorites for
      easier access in the future.
    </p>
  </div>
</div>
