<section class="container">
  <div class="hero">
    <img
      class="hero-favorites"
      srcset="
        ./images/card-favorites-hero-1080-1x_720.jpg,
        ./images/card-favorites-hero-1080-2x_720.jpg
      "
      src="./images/card-favorites-hero-1080-1x_720.jpg"
      alt=""
      width="100"
    />
  </div>
</section>
<div class="container">
  <div class="scrollmenu">
    <a class="categories" href="#home">All categories</a>
    <a class="categories" href="#news">Beef</a>
    <a class="categories" href="#contact">Breakfast</a>
    <a class="categories" href="#about">Chicken</a>
    <a class="categories" href="#about">Dessert</a>
    <a class="categories" href="#about">Goat</a>
    <a class="categories" href="#about">Miscellaneous</a>
    <a class="categories" href="#about">Pasta</a>
    <a class="categories" href="#about">Pork</a>
    <a class="categories" href="#about">Seafood</a>
    <a class="categories" href="#about">Side</a>
  </div>
</div>
