<section class="container">
  <div class="hero-container">
    <div class="left-side">
       <div class="hero-text">
        <h1 class="hero-first-title">Learn to Cook <span class="hero-secondary-title" >Tasty Treats'</span> Customizable Masterclass</h1>
        <p class="hero-description">TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.</p>
       </div>
         <button class="btn-order" data-modal-open type="button">Order now</button>
        </div>
        <div class="swiper-container">
          <div class="swiper">
            <div class="images swiper-wrapper"></div>
            <div class="swiper-pagination"></div> 
        </div>    
            
        </div>   
   </div>
</section>