<div class="block">
  <h3 class="popular-recipes-title">POPULAR RECIPES</h3>
  <div class="article">
    <img
      src="https://res.cloudinary.com/ddbvbv5sp/image/upload/v1678561437/n2azvqwqwoggte9tevai.jpg"
      alt="French Omelette"
    />
    <div class="article-content">
      <div class="article-title">French Omelette</div>
      <div class="article-text">
        A French omelette is a simple yet elegant dish made with whisked eggs,
        butter, salt, and
      </div>
    </div>
  </div>
  <div class="article">
    <img
      src="https://res.cloudinary.com/ddbvbv5sp/image/upload/v1678561437/n2azvqwqwoggte9tevai.jpg"
      alt="French Omelette"
    />
    <div class="article-content">
      <div class="article-title">French Omelette</div>
      <div class="article-text">
        A French omelette is a simple yet elegant dish made with whisked eggs,
        butter, salt, and
      </div>
    </div>
  </div>
  <div class="article">
    <img
      src="https://res.cloudinary.com/ddbvbv5sp/image/upload/v1678561437/n2azvqwqwoggte9tevai.jpg"
      alt="French Omelette"
    />
    <div class="article-content">
      <div class="article-title">French Omelette</div>
      <div class="article-text">
        A French omelette is a simple yet elegant dish made with whisked eggs,
        butter, salt, and
      </div>
    </div>
  </div>
  <div class="article">
    <img
      src="https://res.cloudinary.com/ddbvbv5sp/image/upload/v1678561437/n2azvqwqwoggte9tevai.jpg"
      alt="French Omelette"
    />
    <div class="article-content">
      <div class="article-title">French Omelette</div>
      <div class="article-text">
        A French omelette is a simple yet elegant dish made with whisked eggs,
        butter, salt, and
      </div>
    </div>
  </div>
</div>
