
<div class="backdrop-recipes is-hidden">
  <div class="modal-recipe">
    <button type="button" class="modal-close-btn-recipe">
      <svg class="modal-close-btn-icon" width="20" height="20">
        <use href="/src/images/sprite/icons.svg#icon-x"></use>
      </svg>
    </button>
    <div class="recipe-iframe-wrapper">
      <iframe
        class="recipe-iframe-video"
        src="https://www.youtube.com/embed/_ID_"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <h2 class="recipe-title">Banana Pancakes</h2>

    <div class="rating-recipe-time-container">
      <p class="rating-recipe-value">4.5</p>
      <ul class="modal-recipe-rating-star-list">
        <li class="modal-recipe-rating-star-item">
          <svg class="modal-recipe-rating-star-icon" width="16" height="16">
            <use href="/src/images/sprite/icons.svg#icon-Star-1"></use>
          </svg>
        </li>
        <li class="modal-recipe-rating-star-item">
          <svg class="modal-recipe-rating-star-icon" width="16" height="16">
            <use href="/src/images/sprite/icons.svg#icon-Star-1"></use>
          </svg>
        </li>
        <li class="modal-recipe-rating-star-item">
          <svg class="modal-recipe-rating-star-icon" width="16" height="16">
            <use href="/src/images/sprite/icons.svg#icon-Star-1"></use>
          </svg>
        </li>
        <li class="modal-recipe-rating-star-item">
          <svg class="modal-recipe-rating-star-icon" width="16" height="16">
            <use href="/src/images/sprite/icons.svg#icon-Star-1"></use>
          </svg>
        </li>
        <li class="modal-recipe-rating-star-item">
          <svg class="modal-recipe-rating-star-icon" width="16" height="16">
            <use href="/src/images/sprite/icons.svg#star-1"></use>
          </svg>
        </li>
      </ul>
      <p class="recipe-cooking-time">40 min</p>
    </div>

    <ul class="recipe-components-list">
      <li class="recipe-components-item">
        <p class="recipe-components-item_name">Banana</p>
        <p class="recipe-components-item_quantity">1 large</p>
      </li>
      <li class="recipe-components-item">
        <p class="recipe-components-item_name">Eggs</p>
        <p class="recipe-components-item_quantity">2 medium</p>
      </li>
      <li class="recipe-components-item">
        <p class="recipe-components-item_name">Oil</p>
        <p class="recipe-components-item_quantity">1 tsp</p>
      </li>
      <li class="recipe-components-item">
        <p class="recipe-components-item_name">Pecan nuts</p>
        <p class="recipe-components-item_quantity">25 tsp</p>
      </li>
      <li class="recipe-components-item">
        <p class="recipe-components-item_name">Baking Powder</p>
        <p class="recipe-components-item_quantity">Pinch</p>
      </li>
      <li class="recipe-components-item">
        <p class="recipe-components-item_name">Raspberries</p>
        <p class="recipe-components-item_quantity">125 g</p>
      </li>
    </ul>
    <ul class="recipe-hashtags-list">
      <li class="recipe-hashtags-item">#Breakfast</li>
      <li class="recipe-hashtags-item">#Desert</li>
      <li class="recipe-hashtags-item">#Sweet</li>
    </ul>

    <p class="recipe-description">
      Mash the ripe banana in a medium mixing bowl. Add the egg and whisk
      together until well combined. Add the flour, baking powder, cinnamon (if
      using), and salt, and stir until just combined.Heat a non-stick skillet or
      griddle over medium heat and add the vegetable oil or melted butter. Scoop
      the batter onto the skillet or griddle using a 1/4 cup measure, and cook
      for 2-3 minutes on each side, or until the pancakes are golden brown and
      cooked through. Serve warm with your favorite toppings such as maple
      syrup, sliced bananas, or whipped cream.
    </p>
    <div class="modal-recipe-btn-container">
      <button class="btn-recipe-add-favorite" type="button">
        Add to favorite
      </button>
      <button class="btn-give-rating-recipe" type="button" id="openModalBtn">
        Give a rating
      </button>
    </div>
  </div>
</div>
