/* Стили для навигационной панели */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 94px;
}

@media screen and (min-width: 768px) {
  .header-nav {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .header-nav {
    padding-top: 42px;
  }
}

/* Стили для списка меню */
.header-list {
  display: none;
  /* Скрываем список на мобильных устройствах */
}

@media screen and (min-width: 768px) {
  .header-list {
    align-items: center;
    gap: 16px;
    display: flex;
    /* Показываем список на ширине экрана 768px и больше */
  }
}

/* Стили для логотипа */
.header-logo {
  text-align: center;
  letter-spacing: -0.64px;
  font-size: 16px;
  font-weight: 500;
  line-height: 14px;
}

@media screen and (min-width: 768px) {
  .header-logo {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
  }
}

/* Стили для ссылок */
.header-link-home,
.header-link-favorites {
  font-size: 12px;
  line-height: 14.52px;
  font-weight: 400;
}

.header-link-home {
  color: var(--accent-color);
}

.header-link-favorites {
  color: var(--primaty-black-color);
}

/* Стили для логотипа "Tasty" */
.header-logo-tasty {
  color: var(--accent-color);
  text-align: center;
  letter-spacing: -4%;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}

/* Стили для логотипа "Treats" */
.header-logo-treats {
  color: var(--primaty-black-color);
}

/* Стили для переключателя */
.switch {
  display: block;
  padding-top: -25px;
  position: relative;
  width: 46px;
  height: 20px;
}

@media screen and (max-width: 767px) {
  .switch {
    display: none;
    /* Скрываем переключатель на мобильных устройствах */
  }
}

/* Стили для скрытого переключателя */
.switch-input {
  height: 0;
  width: 0;
  opacity: 0;
  border-radius: 35px;
}

/* Стили для слайдера переключателя */
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 46px;
  height: 20px;
  border-radius: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* винести в змінну */
  background-color: #cecdcd;
  transition: 0.4s;
}

.switch-slider::before {
  content: '';
  position: absolute;
  cursor: pointer;
  right: 0.6px;
  left: 0.6px;
  bottom: 0.6px;
  height: 18.8px;
  width: 18.8px;
  border-radius: 50%;
  background-color: rgb(243, 243, 243);
  transition: 0.4s;
}

/* Стили при фокусе */
.switch-input:focus + .switch-slider {
  box-shadow: 0 0 1px rgb(177, 177, 174);
}

/* Стили при включенном переключателе */
.switch-input:checked + .switch-slider {
  background-color: var(--accent-color);
}

.switch-input:checked + .switch-slider::before {
  transform: translateX(26px);
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
}

/* Стили для бургера */
/* Общие стили для чёрных иконок */
@media screen and (min-width: 768px) {
  .header-burger {
    display: none;
    /* Скрываем бургер на планшетах и больших экранах */
  }
}

.header-burger,
.header-svg img,
.header-logo-treats,
.header-link-favorites {
  filter: invert(0%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.header-burger {
  transition: transform 12s ease;
}

.header-burger.is-open {
  transform: translateX(-100%);
}

@media screen and (max-width: 768px) {
  .header-burger,
  .header-svg img,
  .header-logo-treats,
  .header-link-favorites {
    filter: invert(0%);
    width: 24px;
    height: 24px;
  }
}

/* Стили для закрытия бургера */
@media screen and (min-width: 768px) {
  .burger-close {
    width: 32px;
    height: 32px;
  }
}

/* Стили для мобильного меню */
.mobile-menu {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
}

/* Стили для кнопки переключения меню */
.menu-toggle {
  width: 32px;
  height: 32px;
  position: fixed;
  top: 20px;
  right: 20px;
  filter: grayscale(100%) brightness(1000%);
}

/* Стили для ссылок в мобильном меню */
.mobile-menu .burger-link {
  display: block;
  text-decoration: none;
}

.burger-link {
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.burger-favorites {
  margin-left: -10px;
}

.burger-home {
  margin-top: 200px;
  padding-bottom: 16px;
}

.burger-mobile-close {
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
}

.mobile-socials-header {
  position: relative;
  top: 200px;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-left: -15px;
  gap: 14px;
}

/* Стили для открытого меню */
.header-menu-container.is-open {
  opacity: 1;
  transform: translate(0);
}

.header-menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  z-index: 999;
  transform: translate(100%);
  transition: transform 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 138px 46px 500px 50px;
}

/* Стили для переключателя бургера */
@media screen and (max-width: 320px) {
  .js-swither.left-bottom-align {
    display: block;
    /* Показываем переключатель для мобильного бургер-меню */
  }
}

.left-bottom-align {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.burger-switch {
  display: block;
  padding-top: -25px;
  position: relative;
  width: 46px;
  height: 20px;
}

.burger-switch-input {
  height: 0;
  width: 0;
  opacity: 0;
  border-radius: 35px;
}

.burger-switch-input {
  height: 0;
  width: 0;
  opacity: 0;
  border-radius: 35px;
}

/* Стили для слайдера переключателя бургера */
.burger-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 46px;
  height: 20px;
  border-radius: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* винести в змінну */
  background-color: #cecdcd;
  transition: 0.4s;
}

.burger-switch-slider::before {
  content: '';
  position: absolute;
  cursor: pointer;
  right: 0.6px;
  left: 0.6px;
  bottom: 0.6px;
  height: 18.8px;
  width: 18.8px;
  border-radius: 50%;
  background-color: var(--text-white-color);
  transition: 0.4s;
}

/* Стили при фокусе */
.burger-switch-input:focus + .burger-switch-slider {
  box-shadow: 0 0 1px rgb(177, 177, 174);
}

/* Стили при включенном переключателе бургера */
.burger-switch-input:checked + .burger-switch-slider {
  background-color: var(--accent-color);
}

.burger-switch-input:checked + .burger-switch-slider::before {
  transform: translateX(26px);
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
}

/* Стили для белых иконок в темной теме */
.dark-theme .header-burger.white,
.dark-theme .header-svg img.white,
.dark-theme .header-logo-treats.white,
.dark-theme .header-link-favorites.white {
  filter: invert(1);
}

/* Стили для SVG-иконок */
.header-svg {
  align-items: center;
  gap: 14px;
  display: flex;
}

/* Стили для модального окна */
.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 30px;
  overflow-y: auto;
  display: none;
  z-index: 20;
}

@media screen and (min-width: 768px) {
  .modal__main {
    width: 440px;
    padding: 40px;
  }
}

.modal__main {
  background-color: #fff;
  position: relative;
  width: 440px;
  height: 632px;
  border-radius: 15px;
  margin: auto;
  color: #000;
  border-radius: 16px;
  padding: 40px;
  cursor: default;
}

.text-order-now {
  color: var(--primaty-black-color);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  padding-top: 30px;
  padding-left: 40px;
}

.modal__title {
  font-size: 60px;
  margin-bottom: 30px;
}

.modal__container {
  font-size: 30px;
  gap: 18px;
}

.modal__close {
  border: none;
  cursor: pointer;
  font-size: 22px;
  position: absolute;
  top: 10px;
  right: 10px;
  outline: 1px solid transparent;
  outline-offset: 3px;
  transition: outline-color 0.15s ease-in-out;
  border-radius: 3px;
  padding: 0;
  text-align: center;
  display: block;
  width: 30px;
  height: 30px;
  filter: invert(100%) !important;
}

/* Стили для формы */
form {
  display: flex;
  flex-direction: column;
}

.header-label-name {
  margin-top: 40px;
}

.header-label {
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 8px;
}

.header-input,
.header-textarea {
  font-size: 14px;
  width: 360px;
  height: 48px;
  padding: 14px 18px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  margin-bottom: 18px;
}

.header-textarea {
  resize: vertical;
  height: 100px;
  font-size: 14px;
}

.header-send {
  width: 360px;
  height: 48px;
  padding: 14px 18px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: var(--accent-color);
  color: var(--text-white-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
  cursor: pointer;
}

.header-send:hover,
.header-send:focus {
  color: var(--primaty-black-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
