:root {
  /* White Theme */

  --primary-white-color: #ffffff;
  --primary-black-color: #050505;
  --text-white-color: #f8f8f8;
  --accent-color: #9bb537;

  /* Dark Theme */
  --primary-dark-color: #1e1e1e;
}

:root {
  --var-background: #ffffff;
  --var-text: #000;
  --accent-background: #383838;
  --accent: #9bb537;
  --accent-menu: #9bb537;
  --grey: #b4b4b4;
  --var-dark: #050505;
  --var-grey: rgba(5, 5, 5, 0.5);
  --var-grey-menu: rgba(5, 5, 5, 0.3);
  --var-grey-scrollbar: rgba(5, 5, 5, 0.18);
}

:root[data-theme='dark'] {
  --var-background: #161616;
  --accent-menu: #050505;
  --var-text: #fff;
  --var-dark: #ffffff;
  --var-grey: rgba(255, 255, 255, 0.5);
  --var-grey-menu: rgba(255, 255, 255, 0.3);
  --var-grey-scrollbar: rgba(255, 255, 255, 0.18);
}

body {
  font-family: 'Inter';
  background-color: var(--var-background);
  color: var(--primary-black-color);
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
svg {
  fill: currentColor;
  stroke: currentColor;
}
.container {
  margin: 0 auto;
  outline: 2px solid tomato;
}
/* .container-wrap {
  display: flex;
  gap: 32px;
} */


@media screen and (max-width: 767px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    outline: 2px tomato;
    width: 1280px;
    padding: 0 100px;
  }
}
