@media screen and (min-width: 375px) {
  .popular-recipes {
    width: 332px;
    margin-right: 32px;
    margin-bottom: 10px;
  }
  .article-poprecipes {
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
  }
  .article-poprecipes img {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    border-radius: 8;
  }
  .article-poprecipes-title {
    width: 136px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--var-dark);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 8px;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .article-poprecipes-text {
    width: 252px;
    /* height: 41px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--var-grey);
    text-align: left;
    /* flex: none;
    order: 1;
    flex-grow: 0;
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: pre-wrap; */

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .popular-recipes-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--var-dark);
    margin-bottom: 20px;
  }

  .article-poprecipes:nth-child(n + 4) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .article-poprecipes:nth-child(n + 4) {
    display: flex;
  }

  .popular-recipes {
    width: 176px;
    margin-bottom: 16px;
    margin-right: 32px;
  }

  .article-poprecipes img {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    border-radius: 8;
  }

  .article-poprecipes-text {
    width: 120px;
    -webkit-line-clamp: 3;
    font-size: 10px;
    line-height: 14px;
  }

  .article-poprecipes {
    margin-bottom: 24px;
  }
  .article-poprecipes-content {
    width: 120px;
    overflow: hidden;
    overflow-wrap: break-word;
  }

  .popular-recipes-title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 32px;
    margin-right: 32px;
  }
  .article-poprecipes-title {
    width: 120px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media screen and (min-width: 1280px) {
    .popular-recipes-title {
      font-size: 20px;
      line-height: 28px;

      margin-bottom: 32px;
    }

    .popular-recipes {
      width: 235px;
      margin-bottom: 10px;
    }
    .article-poprecipes img {
      margin-right: 16px;
    }
    .article-poprecipes-title {
      width: 155px;
    }
    .article-poprecipes-content {
      width: 155px;
    }
    .article-poprecipes-text {
      width: 155px;
    }
  }
}
