.backdrop-recipes {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #05050548;
  overflow: auto;

  opacity: 1;
  visibility: visible;
  pointer-events: all;

  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop-recipes.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.modal-recipe {
  z-index: 100;
  position: absolute;
  top: 5%;
  left: 50%;
  width: calc(100% - 2 * 20px);
  background-color: var(--primary-white-color);

  border-radius: 15px;
  transform: translate(-50%);
  padding: 40px 20px 40px 20px;

  overflow-y: auto;
}

.modal-close-btn-recipe {
  position: absolute;
  top: 14px;
  right: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  background-color: var(--primary-white-color);
  border: transparent;
  padding: 0;
  margin-bottom: 6px;
}

.modal-close-btn-icon {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-recipe:hover .modal-close-btn-icon,
.modal-close-btn-recipe:focus .modal-close-btn-icon {
  stroke: var(--accent-color);
}

.modal-close-btn-recipe:active .modal-close-btn-icon {
  stroke: var(--accent-color);
}

.recipe-iframe-wrapper {
  height: 295px;
  margin-bottom: 20px;
}
.recipe-iframe-video {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.recipe-title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 14px;
}
.rating-recipe-time-container {
  display: flex;
  margin-bottom: 33px;
}

.rating-recipe-value {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  color: rgba(5, 5, 5, 0.5);
  margin-right: 6px;
}

.recipe-cooking-time {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  color: rgba(5, 5, 5, 0.5);
}

.modal-recipe-rating-star-icon {
  stroke: transparent;
  fill: rgba(0, 0, 0, 0.1);
}

.modal-rating-star-icon:active {
  stroke: transparent;
  fill: var(--rating-stars);
}

.modal-recipe-rating-star-list {
  gap: 1px;
  display: flex;
  margin-right: 16px;
}
.modal-recipe-rating-star-item {
  width: 18px;
  height: 18px;
}

.recipe-components-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 40px;
}

.recipe-components-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 6px;
}

.recipe-components-item_name {
  font-size: 14px;
}
.recipe-components-item_quantity {
  font-size: 14px;
  color: var(--primaty-black-color);
  opacity: 0.5;
}

.recipe-hashtags-list {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.recipe-hashtags-item {
  padding: 8px 16px 8px 16px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  border-radius: 35px;

  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0em;
}

.recipe-description {
  font-size: 14px;
  color: var(--primaty-black-color);
  opacity: 0.8;
  line-height: 18px;
  margin-bottom: 40px;
}
.modal-recipe-btn-container {
  display: flex;
  justify-content: flex-start;
  gap: 13px;
  flex-wrap: wrap;
}

.btn-recipe-add-favorite {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.21;
  color: var(--text-white-color);
  text-align: center;

  padding: 12px 24px 12px 24px;
  border-radius: 15px;
  background-color: var(--accent-color);
  border: transparent;
  transition: transform var(--transition-property),
    color var(--transition-property);
}

.btn-recipe-add-favorite:hover:hover,
.btn-recipe-add-favorite:focus {
  color: var(--primaty-black-color);
}

.btn-recipe-add-favorite:hover:active {
  color: var(--primaty-black-color);
}

.btn-give-rating-recipe {
  font-family: inherit;
  text-align: center;
  letter-spacing: 0em;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  color: var(--primaty-black-color);

  padding: 12px 24px 12px 24px;
  border-radius: 15px;
  background-color: var(--primary-white-color);

  border: 1px solid var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-give-rating:hover,
.btn-give-rating:focus {
  color: var(--text-white-color);
  background-color: var(--accent-color);
}

.btn-give-rating:hover:active {
  color: var(--text-white-color);
  background-color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .modal-recipe {
    max-width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .modal-recipe {
    flex-direction: column-reverse;
    max-width: 531px;
    padding: 32px;
    max-height: 905px;
  }
  .recipe-title {
    position: absolute;
    top: 32px;
    margin: 0;
  }
  .modal-close-btn-recipe {
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
  }

  .recipe-iframe-wrapper {
    height: 250px;
    margin-bottom: 22px;
    margin-top: 38px;
  }

  .recipe-hashtags-list {
    position: absolute;
    top: 336px;
    gap: 4px;
  }
  .rating-recipe-time-container {
    justify-content: flex-end;
    margin-bottom: 38px;
  }
  .modal-rating-star-list {
    margin-right: 8px;
  }

  .recipe-components-list {
    margin-bottom: 32px;
    gap: 10px;
  }

  .recipe-description {
    margin-bottom: 32px;
  }
  .modal-recipe-btn-container {
    gap: 16px;
  }

  .btn-recipe-add-favorite {
    padding: 14px 28px 14px 28px;
  }

  .btn-give-rating-recipe {
    padding: 14px 28px 14px 28px;
  }
}
