/* LIGHT */

:root {
    --var-background: #FFFFFF;
    --var-text: #000;
    --accent-background: #383838;
    --accent: #9BB537;
    --grey: #B4B4B4;
    --var-dark: #050505;
    --var-grey: rgba(5, 5, 5, 0.50);
    --var-grey-menu: rgba(5, 5, 5, 0.30);

}

/* DARK */

:root[data-theme='dark'] {
    --var-background: #1E1E1E;
    --var-text: #FFF;
    --var-dark: #FFFFFF;
    --var-grey: rgba(255, 255, 255, 0.50);
    --var-grey-menu: rgba(255, 255, 255, 0.30);
}